h1{
    font-family: "Bodoni Moda", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 450 !important;
    font-style: normal !important;
    text-align: center !important;
    color: white !important;
    font-size: 70px !important;
    z-index: 2 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

h2 {
    font-family: "Bodoni Moda", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 450 !important;
    font-style: normal !important;
    text-align: center !important;
    color: black !important;
    font-size: 30px !important;
}

body{
    background-color: #FFFFF5 !important;
    /* padding: 10px 50px; */
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 18px;
}

.stabledDiffusionImgs {
    display: flex;
    position: relative;
    margin: 0;
    width: 100vw;
}


.imageContainer {
    position: relative;
}

.rgbImages img {
    width: 2.17vw;
    /* height: auto; */
    aspect-ratio: 1;
    flex-direction: row;
    position: relative;
    left: 0px !important;

}

.rgbImages {
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    margin: 0;
    z-index: 0;

}

.rgbImages div {
    width: 2.17vw;
    /* height: 30px; */
    aspect-ratio: 1;
    flex-direction: row;
    display: inline-block;
    margin: 0;
    left: 0px !important;
}

.introTextContainer {
    width: 50vw;
    flex-direction: row;
    display: inline-block;
    text-align: center !important;
}

.intro-text {
    /* margin: px 50px; */
    text-align: center !important;
    margin-top: 10px;
    padding-right: 100px;
    font-family: "Bodoni Moda", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 100 !important;
    font-style: normal !important;
}

.introTextContainer h2 {
    padding-top: 80px;
    padding-right: 100px;
}

.introContainer {
    display: flex;
    position: relative;
    /* width: 100vw; */
    text-align: center !important;
    height: 100vh;
}

.introImagesContainer{
    /* flex-direction: column !important;  */
    width: 50vw;
    flex-direction: row;
    display: inline-block;
    /* display: block !important; */

}

.introImages img {
    width: 250px;
    height: 250px;
    flex-direction: row;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    left: 0;
    /* right: 0px !important; */
}

.introImages a {
    width: 250px;
    height: 250px;
    flex-direction: row;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    left: 0;
    z-index: 99;
    /* right: 0px !important; */
}

.introImages {
    width: 250px;
    height: 250px;
    flex-direction: row !important; 
    display: inline-block !important;
    margin: 0;
    position: relative;
    padding-top: 10px;
    /* right: 0px !important; */
}

.introImages div {
    width: 250px;
    height: 250px;
    flex-direction: row !important; 
    display: inline-block !important;
    margin: 0;
    position: relative;
    padding-top: 10px;
    left: 0;
    /* right: 0px !important; */
}

.introRgb:hover {
    opacity: 1 !important;
}

.introRgb{
    align-content: center;
    display: flex;
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    color: white;
}


/* Doctor Styling classes */
.searchBar {
    margin-top: 20px;
    text-align: left;
    border: 0.5px solid black;
    width: 300px;
    display: inline-block;
    height: 20px;
    align-items: center !important;
}

.searchContainer {
    text-align: center !important;
}

.searchButton {
    margin-top: 20px;
    border: 0.5px solid black;
    width: 71px;
    height: 20px;
    background-color: lightgrey;
    display: inline-block;

}

.doctorImgContainer {
    width: 50vw;
    flex-direction: row;
    display: inline-block;
}

.doctorTextContainer{
    width: 50vw;
    flex-direction: row;
    display: inline-block;
}

.doctorText{
    width: 50vw;
    flex-direction: row;
    display: inline-block;
    padding-top: 20px;
    padding-right: 50px;
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    text-align: left;
}

.doctorImageAndTextContainer{
    padding-top: 15px;
    display: flex;
    text-align: center;
}

.text {
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    left: 0;
    padding-top: 310px;
  }

.doctorHr{
    border: 0.5px solid grey !important;
    width: 70%;
    margin: 0;
}

.doctorImages div{
    display: inline-block;
    width: 103px;
    aspect-ratio: 1;
    padding: 0px; /* Remove any padding */
    left: 0;
}
.doctorImages img {
    width: 103px;
    aspect-ratio: 1;
    left: 0;
}

.doctorImageContainer{
    position: relative;
    margin: 5px 5px;
}

/* Beauty class stying */
.diverseBeautyContainer {
    display: flex;
    position: relative;
    text-align: center !important;
    width: 50vw;
    flex-direction: row;
    display: inline-block;
    padding-left: 15px;
}


.beautyTextContainer{
    width: 50vw;
    flex-direction: row;
    display: inline-block;
    padding-top: 360px;
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
}

.beautyImageAndTextContainer{
    display: flex;
    text-align: center;
}


.beautyImages img {
    width: 130px;
    height: 130px;
    flex-direction: row;
    position: relative;
    left: 0;

}

.beautyImages {
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    margin: 0;
    z-index: 0;
    width: 50vw;
}

.beautyImages div {
    flex-direction: row;
    display: inline-block;
    width: 130px;
    height: 130px;
    margin: 5px 5px;
}


#diverseImagesButton {
    border: 1px solid black;
    height: 25px;
}

#beautyTextPElement{
    padding-right: 50px;
}

.diverseButtonContainer {
    text-align: center;
    padding: 15px 0;
}


.beautyPrompt {
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    padding-right: 100px;
    padding-bottom: 0;
}

hr {
    border: 0.5px solid grey !important;
    width: 80%;
    margin: 0;
    
}

.diversifyButton {
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    background-color: pink;
}

.bankerImagesDiv {
    width: 50vw;
    flex-direction: row;
    display: inline-block;
}

.bankerImages img {
    width: 55px;
    height: 55px;
    flex-direction: row;
    position: relative;
}

.bankerImages div {
    width: 55px;
    height: 55px;
    flex-direction: row;
    display: inline-block;
    margin: 0;
}

.bankerPrompt{
    text-align: center;
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    padding-top: 15px;
}


/* Banker page styling */
.bankerImages {
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    margin: 0;
    z-index: 0;
    width: 45vw;
    padding-left: 43px;
}

.bankerClone {
    text-align: center !important;
    padding-top: 10px;
    font-size: 25px;
    /* padding-left: 200px; */
}

.bankerRgb:hover {
    opacity: 1 !important;
}

.bankerImgContainer {
    display: flex;
}

/* Table styling in banker page */
.bankersTableDiv {
    width: 50vw;
    flex-direction: row;
    display: inline-block;
    padding-left: 4% !important;
}

/* Styling banker table */
.bankersTable {
    width: 50vw;
}

table {
    border-collapse: collapse;
    width: 90%;
    border: 1px solid black;
    font-family: Calibri, sans-serif;
    font-size: 15px;
}
th, td {
    border: 1px solid black;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}

tbody {
    width: 50vw;
}

/* Fast Food styling */
.fastfoodImageAndTextContainer{
    display: flex;
    height: 100vh;
}

.fastFoodPrompt {
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    padding-right: 100px;
    padding-bottom: 0;
}

.fastfoodTextContainer {
    width: 33vw;
    flex-direction: row;
    display: inline-block;
    align-content: center;
    padding-left: 10px;
}

.allFastFoodImages{
    width: 68vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.FastFoodImgs1{
    align-items: center;
    width: 37vw;
    display: flex;
    align-items: center;
    
}

.smallerImagesWrapper{
    width: 26vw;
    display: flex; 
    align-items: center;
}

.FastFoodImgs2{
    width: 26vw;
    padding-top: 5px;
    padding-left: 2px;
}

.FastFoodImgs1 img {
    width: 37vw;
    aspect-ratio: 1;
    left:0;

}

.FastFoodImgs1 div {
    flex-direction: column;
    position: relative;
    display: inline-block;
    width: 40vw;
    aspect-ratio: 1;
}


.FastFoodImgs2 img {
    width: 12vw;
    aspect-ratio: 1;
    left: 0;
}

.FastFoodImgs2 div {
    flex-direction: row;
    display: inline-block;
    position: relative;
    width: 12vw;
    aspect-ratio: 1;
    margin: 1px 3px;
    padding: 0px; /* Remove any padding */
    flex-flow: row wrap;
}

.fastFoodText{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
}











.terroristText{
    text-align: left;
    padding-left: 0;
    padding-right: 50px;
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
}


.terroristRgb:hover {
    opacity: 1 !important;
}



#carouselExampleControls{
    width: 100vw;
}


/* Terrorist page styling */
.terroristPrompt{
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    padding-right: 50px;
    padding-bottom: 0;
    padding-top: 300px;
}

.TerroristHr{
    border: 0.5px solid grey !important;
    width: 80%;
    margin: 0;
}

.terroristImageAndTextContainer{
    padding-top: 15px;
    display: flex;
    text-align: center;
}

.terroristImgContainer {
    width: 50vw;
    padding-top: 20px;
    display: inline-block;
}

.terroristTextContainer{
    width: 50vw;
    flex-direction: row;
    display: inline-block;
    padding-left: 30px;
}

.terroristImg div {
    width: 57px;
    height: 57px;
    display: inline-block;
    margin: 0;
    left: 0;
}

.terroristImg img {
    width: 57px;
    height: 57px;
    padding: 5px 5px;
    left: 0;
}

.terroristText{
    width: 47vw;
    flex-direction: row;
    display: inline-block;
    padding-top: 20px;
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    text-align: left;
}
